/* General layout for the grid */
.movie-grid {
  background-color: #141414; /* Netflix black background */
  min-height: 100vh;
  padding: 30px;
  position: relative;
  color: #f8f9fa; /* Light text for contrast */
}

/* Loading spinner container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Featured Movie Section */
.latest-movie {
  position: relative;
  height: 65vh;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(15deg, rgba(220, 16, 16, 0.973), rgba(0, 0, 0, 0.5)); /* Red to black gradient for featured movie */
  overflow: hidden;
  border-radius: 26px; /* Rounded corners */
  box-shadow: 0px 8px 50px rgba(239, 0, 0, 0.908); /* Stronger shadow for dark mode */
}

.latest-movie-backdrop {
  position: absolute;
  width: 98%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3) blur(4px); /* Darken and blur the backdrop */
  z-index: 1;
}

.latest-movie-info {
  position: relative;
  z-index: 2;
  max-width: 60%;
  padding-left: 40px;
  color: #f8f9fa; /* Light text for dark mode */
}

.latest-movie-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #c9040e; /* Netflix red for title */
}

.latest-movie-description {
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.9;
  color: #d3d3d3; /* Lighter text for description */
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .latest-movie-title {
    font-size: 2rem;
  }

  .latest-movie-description {
    font-size: 2rem;
  }

  .latest-movie-info {
    padding-left: 15px;
    max-width: 80%;
  }
}

/* Movie Card Grid */
.movie-card-grid {
  z-index: 2;
  margin-top: 50px;
}

.movie-card-grid .MuiGrid-item {
  transition: transform 0.3s ease;
  margin-bottom: 40px;
}

/* Movie Card */
.movie-card {
  background-color: #212121; /* Dark gray background for movie card */
  color: #f8f9fa; /* Light text */
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6); /* Darker shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

/* Movie poster image */
.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-height: 320px;
  transition: transform 0.3s ease;
}

/* Hover effect */
.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.8); /* Stronger shadow on hover */
}

.movie-card img:hover {
  transform: scale(1.05);
}

/* Responsive adjustments for movie cards */
@media (max-width: 600px) {
  .movie-card {
    padding: 12px;
  }

  .movie-card-grid .MuiGrid-item {
    margin-bottom: 25px;
  }

  .movie-card img {
    max-height: 220px;
  }
}
