/* ProfilePage.css */

.profile-background {
    background: linear-gradient(to right, #141414, hsl(356, 89%, 11%));
    min-height: 100vh;
    position: relative;
    color: #FFFFFF;
    padding: 40px;
  }
  
  
  